
.comment {
    background: #9fc363;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
}

.commentLess {
    background: #9fc363;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
    padding: 8px;
}

.btnCommentShowMore {
    background: #e6f7b0;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}
