.user {
    background: ivory;
    border: darkgoldenrod solid 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 7px 0;
    padding: 10px;

}
.userInfo {
    width: 60%;
    margin-right: 30px;
}