.taskScreen {
    margin-top: 15px;
    padding: 20px 30px;
    border: tomato solid 2px;
    border-radius: 5px;
    background: ivory;
}

.taskScreen > p:first-child {
    font-style: italic;
    margin-bottom: 30px;
}