.users-box {
    margin-top: 60px;
}

/*----------- template 1.1 -------------*/
.user-block {
    width: 49%;
    min-width: 270px;
    max-width: 550px;
    height: 300px;
    border: cornflowerblue 1px solid;
    border-radius: 7px;
    box-shadow: 5px 5px 3px #ced8e1;
    background: honeydew;
    padding: 10px 7px;
    margin-top: 15px;
    overflow: hidden;
}
.users-box > .user-block:nth-of-type(odd) {
    margin-right: 1%;
}
.user-block > h2 {
    text-align: center;
    width: 97%;
    padding-bottom: 5px;
    margin-bottom: 10px ;
    border-bottom: black 1px dotted;
    overflow: auto;
}

.user-block > h3 {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    overflow: auto;
}

.user-block > div {
    font-size: 20px;
    overflow: auto;
}


