.postMore {
    background: #e6f7b0;
    border: forestgreen solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 2px 0 2px 0;
    padding: 10px;
}

.postMore > div:first-child {
    padding-right: 25px;
}
