<div id="Homework_03">

  <h2> {{title}} (Homework)</h2>
  <p>
    Создать переход на url /posts<br>
    При переходе отобразить все title постов с jsonplaceholder.<br>
    У каждого поста есть кнопка, при клике на которую отображается
    детальная информация про пост.<br>
    Детальная информация про пост передается <b>при помощи state</b>.
  </p>
  <hr>

  <a likeLink="" (click)="nav2posts()">Posts</a>
  <!--  <a routerLink="posts">Posts</a>-->
</div>

<div id="Classwork_03">
  <h2> {{title}} (Classwork)</h2>
  <p>
    Создать переход на url /posts<br>
    При переходе отобразить все title постов с jsonplaceholder.<br>
    У каждого поста есть кнопка, при клике на которую отображается
    детальная информация про пост.<br>
    Детальную информацию про пост получить <b>при помощи подзапроса на сервер</b>.
  </p>
  <hr>

  <a routerLink="posts-clw">Posts</a>
</div>

<div>
  <h2> other tests </h2>
  <a routerLink="users">Users</a> <br>
  <a routerLink="users-with-posts">Users with posts</a>
</div>

