
.comments {
    background: #e6f7b0;
    border: forestgreen solid 1px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px lightgray;
    margin: 7px 0;
    padding: 9px 0;
}

.comments > p {
    margin: 10px 0 10px 5px;
}

