body {
    margin: 10px 20px 10px 20px;
}

body * {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: cornflowerblue dotted underline;
}

a:visited {
    color: #2f2ffb
}

.Screen {
    margin-top: 60px;
}

.taskScreen {
    margin-top: 15px;
    padding: 20px 30px;
    border: tomato solid 2px;
    border-radius: 5px;
    background: ivory;
}

.taskScreen > p:first-child {
    font-style: italic;
    margin-bottom: 30px;
}