
.corpus {
    padding: 50px 0;
}

.corpus ul {
    padding: 40px 10px;
    font-size: 24px;
    line-height: 1.6;
}

.Screen {
    margin-top: 60px;
}

.taskScreen {
    margin-top: 15px;
    padding: 20px 30px;
    border: tomato solid 2px;
    border-radius: 5px;
    background: ivory;
}

#prodForm {
    line-height: 1.9;

}
#buttons {
    padding-top: 50px ;
}

.userBlock {
    margin: 5px 10px 0 10px;
    padding: 5px 10px;
    border: black solid 2px;
    border-radius: 5px;
    background: darkseagreen;
}

.taskDelim {
    border-bottom: 2px solid black;
    margin: 30px 5px;
}

.dottedBorder {
    border: black dotted 1px;
    border-radius: 3px;
    padding: 3px;
    margin: 1px;
}
/*.taskScreen > p:first-child {*/
/*    font-style: italic;*/
/*    margin-bottom: 30px;*/
/*}*/